<header style="border-bottom: 1px solid #ddd; padding-bottom: 1rem; margin-bottom: 2rem;">
  <h1 style="margin: 0;">{{#if frontMatter.title}}{{frontMatter.title}}{{else}}Document{{/if}}</h1>
  {{#if frontMatter.author}}
    <p style="color: #666; margin: 0.5rem 0 0 0;">By {{frontMatter.author}}</p>
  {{/if}}
  {{#if frontMatter.date}}
    <p style="color: #888; font-size: 0.9rem; margin: 0.25rem 0 0 0;">{{frontMatter.date}}</p>
  {{/if}}
</header>
